*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.container{
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
}
.top{
  height: 50% ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
input{
  width: 50%;
}

.bottom{
  height: 50% ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

}