* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Montserrat", "Roboto";
}
body {
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(137, 140, 146);
  color: rgb(230, 230, 230);
}
