@media only screen and (min-width: 700px) {
  .menu-btn span {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  a {
    display: none;
  }
  .hire {
    display: none;
  }
  .hero-content .description {
    font-size: 0.8rem;
  }
}
