* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: orangered;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 8%;
  background-color: yellowgreen;
  width: 600px;
  padding: 10%;
  display: flex;
  flex-direction: column;
}
.rows {
  width: 100%;
  margin: 5px;
  background-color: red;
}
