* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f77c7c;
  background: linear-gradient(
    90deg,
    rgba(247, 124, 124, 1) 8%,
    rgba(107, 186, 250, 1) 47%,
    rgba(243, 250, 240, 1) 95%
  );
}
.container {
  max-width: 600px;
  width: 90%;
  border: 2px solid black;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
textarea {
  font-size: 15px;

  height: 120px;
  background-color: rgb(251, 170, 140);
  color: black;
  text-align: center;
  width: 60%;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
textarea:focus {
  font-size: 18px;
  padding: 13px;
  background-color: rgb(238, 89, 9);
  border: none;
  outline: none;
  color: white;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: burlywood;
  cursor: pointer;
}
.btn:hover {
  background-color: orangered;
  color: white;
}
.result {
  font-size: 20px;
}
