* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 74, 74);
}

.container {
  height: 600px;
  width: 500px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
  outline: none;
  background-color: white;
  align-items: center;
}
.top {
  width: 90%;
  height: 25%;
  border-bottom: 5px solid black;
  border-radius: 20px;
  position: relative;
  font-size: 25px;
}

.display-1 {
  position: absolute;
  top: 5px;
  right: 0;
}
.display-2 {
  position: absolute;
  top: 50px;
  right: 0px;
}
.temp-result {
  position: absolute;
  top: 100px;
  left: 10px;
}

.bottom {
  width: 100%;
  height: 75%;
}

.first {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
}

.second {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
}
.third {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
}
.fourth {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
}
.five {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  font-size: 30px;
  color: rgb(244, 238, 244);
  background-color: rgb(9, 9, 9);
}

.equal {
  flex-grow: 2;
  background-color: rgb(26, 26, 26);
  color: white;
}
