* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #000a24;
  background: linear-gradient(
    90deg,
    rgba(0, 10, 36, 1) 0%,
    rgba(9, 117, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  margin: 0.5%;
}
.input {
  margin: 1%;
}

input {
  padding: 15px;
}
button {
  padding: 15px;
  border: none;
  outline: none;
}
button:hover {
  background-color: blueviolet;
  color: white;
  transition: all 1s ease-in-out;
}
.result {
  width: 50%;
  height: 400px;
  background-color: white;
}
